<div class="container section">
  <h2>Projects</h2>
  <% data.projects.projects.each do |project| %>
    <% if project.active == true %>
      <a href="/projects/<%= project.url %>/">
        <div class="project item">
          <% unless project.images.nil? %>
            <div class="project-list-image">
              <img src="images/<%= project.images[0].thumb %>"/>
            </div>
          <% end %>

          <div class="project-content">

            <div class="project-name">
              <%= project.name %>
            </div>

            <div class="project-tech">
              <% project.technologies.each do |tech| %>
                <div class="project-tech-item">
                  <%= tech %>
                </div>
              <% end %>
            </div>

            <div class="project-description">
              <%= project.description %>
            </div>

          </div>

        </div>
      </a>
    <% end %>
  <% end %>
</div>
