<div class="projects container">
  <h2>Projects</h2>
  <% data.projects.projects.each do |project| %>
    <div class="project">
      <div class="row project-top-bar">
          <div class="col-sm-1 project-image">
            <% unless project.octicon.nil? %>
              <span class="octicon <%= project.octicon %>"></span>
            <% end %>
          </div>

        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-11 project-title">
              <% if project.demo.nil? %>
                <%= project.title %>
              <% else %>
                <a href="<%= project.demo %>"><%= project.title %></a>
              <% end %>
            </div>
            <% unless project.github.nil? %>
                <div class="col-sm-1 github-link">
                    <a href="<%= project.github %>"><span class="octicon octicon-logo-github"></span></a>
                </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-sm-10"><%= project.technologies %></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1"><%= project.description %></div>
      </div>

      <div class="row project-links">
      </div>
    </div>
  <% end %>
</div>
